name: Homestay Deploy to Replit

on:
  push:
    branches:
    - main

jobs:
  build_and_run:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    
    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14'

    - name: Install dependencies
      run: npm install

    - name: Build project
      run: npm run build

    - name: Deploy to Replit
      run: |
        curl 'https://replit.com/@rmilijasevic/homestay' \
        curl -X POST 'http://127.0.0.1:3000/' \
        -H 'Authorization: Bearer ${{ secrets.REPLIT_TOKEN }}' \
        -F 'data=@build'
